<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
    <header>
        <img src="./assets/car3.jpg"  class="banner" alt="banner"> 
        <div class="title">Meet Our Team</div>
    </header>
    <main>
        <div class="beg">
            We are a diverse team coming from diffferent backgrounds
         </div>
         <div class="content">
            <div class="container">
                <div class="column1">
                    <img src="./assets/workspace.jpg" alt="teamwork">
                </div>
                <div class="column2">
                <p> We try to solve the hardest problems, and we try to have fun while doing that! </p>
                </div>
            </div>
         </div> 
         <div class="container2">
            <img src="./assets/series.jpg">
            <p class="title2"> There is a great respet between the team. </p>
            <p class="columna">
                We have different knowledge sessions. 
            </p>
            <p class="columnb">
                We have different collaborations.
            </p>
            <p class="columnc">
                We go to have lunch together.
            </p>
            <p class="columnd">
                We challenge each other. 
            </p>
            <p class="columne">
                And we have fun!
            </p>
         </div>
         <div class="work">
            Join our team. Apply now!
         </div>
    </main>
        <footer>
            <div class="container-footer">
                <div class="location">
                    <img src="./assets/white-pin.png" alt="location pin icon" class="icon">
                    <p>Munich, Germany</p>
                </div>
                <p class="cr"> © BMW AG 2023 </p>
                <div class="contact">
                    <h3>Contact Us</h3>
                    <p>Email: info@thinktank.com</p>
                    <p>Phone: xxx-xxx-xxx</p>
                </div>
            </div>
          </footer>
    </body>
</html>