<!DOCTYPE html>
<html> 
    <body>
    <header>
        <img src="./assets/124102(2).jpg"  class="banner" alt="banner"> 
        <div class="title">Think Tank</div>
    </header>
    <main>
        <div class="content">
            <div class="container">
                <div class="column1">
                    <img src="./assets/1125026.jpg" alt="carimage">
                </div>
                <div class="column2">
                <p class="motto"> Think. </p>
                <p class="motto"> Act. </p>
                <p class="motto"> Lead. </p>
                </div>
            </div>
         </div> 
         <div class="team">
               <img src="./assets/bmw.jpg"  alt="team-work">
         </div>
    </main>
        <footer>
            <div class="container-footer">
                <div class="location">
                    <img src="./assets/white-pin.png" alt="location pin icon" class="icon">
                    <p>Munich, Germany</p>
                </div>
                <p class="cr"> © BMW AG 2023 </p>
                <div class="contact">
                    <h3>Contact Us</h3>
                    <p>Email: info@thinktank.com</p>
                    <p>Phone: xxx-xxx-xxx</p>
                </div>
            </div>
          </footer>
    </body>
</html>